<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">


{% extends "base.html" %}


{% block content %}

{% include 'navbar.html' %}


<div class="container">
   <div class="row">
       {% for app in my_apps %}
           <div style="margin-bottom: 20px;" class="col-6">
               <div class="card w-100{%if app.problem.available%} bg-light mb-3{%elif app.accepted%} bg-success mb-3{%else%} bg-danger mb-3{%endif%}">
                   <div class="card-body">
                       <h5 class="card-title text-center">{{ app.user_name }}</h5>
                       <br>
                       <h5 class="card-title text-center">{{ app.problem.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Language: {{ app.problem.language.name }}</h6>
                       <p class="card-subtitle mb-2 text-center">Accepted: {{app.accepted}}</p>

                   </div>
               </div>
           </div>
       {% endfor %}
   </div>
</div>

{% endblock content %}